/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #105fb2;
    padding: 2px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header .logo img {
    height: 60px;
    width: auto;
    margin-left: 5px;
    margin-top: 2px;
}

.head {
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    color: #ffffff;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    margin-left: 20px;
    color: #105fb2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

/* Centered Container */
.centered {
    text-align: center;
    margin-top: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #105fb2;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0f7fa;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 800px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #105fb2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #105fb2;
}

/* Links */
a {
    color: #105fb2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #005EB8;
    color: white;
    text-align: center;
    padding: 2px;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}