<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Job Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_job.css') }}">
</head>
<body>
    <div class="container">
        <h1>Create Job Application</h1>
        <form method="POST">
            <label for="position">Position:</label>
            <input type="text" id="position" name="position" required>
            
            <label for="company">Company:</label>
            <input type="text" id="company" name="company" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required><br>

            <label for="experience_range">Experience required:</label>
            <input list="experience_ranges" id="experience_range" name="experience_range" placeholder="Enter experience range (e.g., 0-3 years)" required>
            <datalist id="experience_ranges">
                <option value="0-3 years">
                <option value="4-8 years">
                <option value="9-15 years">
                <option value="15+ years">
            </datalist>
            
            <label for="description">Job Description:</label>
            <textarea id="description" name="description" class="expanded-textarea" required oninput="adjustTextareaHeight(this)"></textarea>
            
            <button type="submit">Create Job</button>
        </form>

        <a href="{{ url_for('admin.dashboard') }}" class="back-link">Back to Dashboard</a>
    </div>

    <script>
        function adjustTextareaHeight(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }
    </script>
</body>
</html>

